---
import Hero from '@content/Hero.astro';
import Layout from '../layouts/Layout.astro';
import FormationSection from '@content/FormationSection.astro';
import ProjectsSection from '@content/ProjectsSection.astro';
import TechnologiesSection from '@content/TechnologiesSection.astro';
import ServicesSection from '@content/ServicesSection.astro';
import ContactSection from '@content/ContactSection.astro';
---

<Layout title="Portfolio de Nehuen Cuenca">
	<main class="main-container">
		<Hero />
		<FormationSection />
		<ProjectsSection />
		<TechnologiesSection />
		<ServicesSection />
		<ContactSection />
	</main>
</Layout>

<style>
	.main-container{
		display: flex;
		flex-direction: column;
		gap: 7rem;
	}
</style>


