---
import Hero from '@content/Hero.astro';
import Layout from '../layouts/Layout.astro';
import FormationSection from '@content/FormationSection.astro';
---

<Layout title="Portfolio de Nehuen Cuenca">
	<main>
		<Hero />
		<FormationSection />
	</main>
</Layout>


