---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { Modal } from 'accessible-astro-components'


import DesignService from '@assets/services/design-service.png';
import FrontendService from '@assets/services/frontend-service.png';
import BackendService from '@assets/services/backend-service.png';
---
<section class="services-container" id="services-section">
    <div class="headings">
        <h1 class="headings__title">Servicios</h1>
        <h2 class="headings__subtitle">Apoye el mouse sobre una imagen</h1>
    </div>
    <ul class="services-list">
        <li class="service-list-item flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <Image class="flip-card-front__image" src={DesignService} alt="Avatar" />
                  </div>
                  <div class="flip-card-back">
                    <Icon class="flip-card-back__service-icon" name="bx:palette" size={130} />
                    <h3 class="flip-card-back__service-title">Diseño</h3>
                    <button id="service1-modal-trigger" class="flip-card-back__view-more-button flip-card-back__view-more-button_hover">Ver más</button>
                  </div>
            </div>
        </li>
        <li class="service-list-item flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <Image class="flip-card-front__image" src={FrontendService} alt="Avatar" />
                  </div>
                  <div class="flip-card-back">
                    <Icon class="flip-card-back__service-icon" name="bx:news" size={130} />
                    <h3 class="flip-card-back__service-title">Frontend</h3>
                    <button id="service2-modal-trigger" class="flip-card-back__view-more-button flip-card-back__view-more-button_hover">Ver más</button>
                  </div>
            </div>
        </li>
        <li class="service-list-item flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <Image class="flip-card-front__image" src={BackendService} alt="Avatar" />
                  </div>
                  <div class="flip-card-back">
                    <Icon class="flip-card-back__service-icon" name="bx:terminal" size={130} />
                    <h3 class="flip-card-back__service-title">Backend</h3>
                    <button id="service3-modal-trigger" class="flip-card-back__view-more-button flip-card-back__view-more-button_hover">Ver más</button>
                  </div>
            </div>
        </li>
    </ul>

    <Modal triggerId="service1-modal-trigger" title="Diseño" closeText="Cerrar">
      <ul class="service-items-list service-items-list_design">
        <li class="design-service-item">Identificar productos de la competencia y las tendencias de la industria.</li>
        <li class="design-service-item">Desarrollar prototipos y flujos de tareas basados en las necesidades del usuario.</li>
        <li class="design-service-item">Lograr un boceto inicial de acuerdo a las especificaciones dadas.</li>
      </ul>
    </Modal>  
    <Modal triggerId="service2-modal-trigger" title="Frontend" closeText="Cerrar">
      <ul class="service-items-list service-items-list_frontend">
        <li class="frontend-service-item">Aplicar un diseño adaptable/responsivo a distintos tipos de dispositivos y versiones de navegadores.</li>
        <li class="frontend-service-item">Construir herramientas que optimicen la comunicacion entre el usuario y la web.</li>
        <li class="frontend-service-item">Programacion, modificacion y mantenimiento de un sitio web.</li>
        <li class="frontend-service-item">Consultar API's para lograr una conexion entre diferentes servicios y sistemas disponibles.</li>
      </ul>
    </Modal>  
    <Modal triggerId="service3-modal-trigger" title="Backend" closeText="Cerrar">
      <ul class="service-items-list service-items-list_backend">

      </ul>
    </Modal>  
</section>

<style>
    .services-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
    }
    .headings{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        text-align: center;
    }

    .headings__title{
        font: normal normal 600 clamp(2.5rem, 6vw, 3rem) var(--display-font, Tahoma);
        color: var(--color-titles);
    }
    .headings__subtitle{
        font: normal normal 150 clamp(1.3rem, 5vw, 1.5rem) var(--default-font, Arial);
        text-wrap: balance;
        color: var(--color-font);
    }

    .services-list{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
      background-color: transparent;
      width: 250px;
      height: 60vh;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      border-radius: 10px;     
      box-shadow: 5px 5px 4px var(--color-shadow);
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: transparent;
      color: black;
    }
    .flip-card-front__image{
        height: 100%;
        object-fit: cover;
    }

    /* Style the back side */
    .flip-card-back {
      /* background-color: var(--color-titles);
      color: var(--color-bg); */
      background-color: var(--color-details);
      color: var(--color-titles);
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .flip-card-back__service-title{
        font: normal normal 400 clamp(1.6rem, 6vw, 2rem) var(--display-font, Tahoma);
    }

    .flip-card-back__view-more-button{
        font: normal normal 400 1.2rem var(--display-font, Tahoma);
        background-color: var(--color-titles);
        color: var(--color-bg);
        border-radius: 30px;
        padding: .5rem 1.5rem;
        transition: background-color .5s ease;
    }

    .flip-card-back__view-more-button_hover:hover{
        background-color: var(--color-font);
    }

    .service-items-list{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding-left: 2rem;
    }
    .service-items-list_design{
      list-style-type: circle;
    }
    .service-items-list_frontend{
      list-style-type: disc;
    }
    .service-items-list_backend{
      list-style-type: square;
    }

    .service-items-list li{
      word-break: break-word;
    }
    
</style>