---
import { Icon } from 'astro-icon/components';

---
<nav>
    <div class="nav-mobile">
        <a class="nav-link home-link" href="#hero-section">Inicio</a>
        <button class="nav-button">
            <Icon name="bx:menu" size={30}/>
        </button>
    </div>
    <div class="nav-desktop">
        <a class="nav-link home-link" href="#hero-section">Inicio</a>
        <ul class="links-sections-list">
            <li class="links-sections-list__link-item">
                <a class="nav-link" href="#formation-section">Formacion</a>
            </li>
            <li class="links-sections-list__link-item">
                <a class="nav-link" href="#projects-section">Proyectos</a>
            </li>
            <li class="links-sections-list__link-item">
                <a class="nav-link" href="#services-section">Servicios</a>
            </li>
            <li class="links-sections-list__link-item">
                <a class="nav-link" href="#contact-section">Contacto</a>
            </li>
        </ul>
        <button class="nav-button">
            <Icon name="bx:moon" size={30}/>
        </button>
    </div>
</nav>

<style>
.nav-mobile, .nav-desktop{
    width: 100%;
    min-height: 15vh;
    padding: 0 1rem;
    background: rgb(0,60,67);
    background: var(--navbar-fade-bg);
    color: var(--color-titles);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeInFromTop 1s ease 0s 1 normal forwards;
}


.nav-desktop{
    display: none;
}

.nav-link{
    font: normal normal 500 1.3rem var(--display-font, Tahoma);
    text-decoration: none;
}

.home-link{
    font-size: 1.8rem;
}

.nav-button{
    color: var(--font-color);
    cursor: pointer;
    transition: scale .5s ease;
}

.nav-button:hover{
    scale: 1.2;
}

.links-sections-list__link-item{
    display: block;
  height: 100%;
  margin-right: 30px;
  position: relative;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.links-sections-list__link-item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 0%;
}
.links-sections-list__link-item:hover::after {
  width: 100%;
  height: 1px;
  background-color: var(--color-titles);
}




@media (width >= 768px) {
    .nav-mobile {
        display: none;
    }
    .nav-desktop{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }

    .home-link{
        margin: 0 auto 0 0;
    }

    .links-sections-list{
        display: flex;
        gap: 0 1rem;
    }
}

@keyframes fadeInFromTop {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
</style>
